@textColor: #15061a;
@backgroundColor: #272727;

html, body {
  width: 100%;
  height: 100%;
  background-color: white;
  color: @textColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

a {
  color: @textColor;
  font-weight: normal;
  text-decoration: none;
  &:link {
    color: @textColor;
    font-weight: normal;
    text-decoration: none;
  }
  &:visited {
    color: @textColor;
    font-weight: normal;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 5px 0;
}

img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: @textColor;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  margin: 0 0 30px;
  padding: 5px 0;
}

h2 {
  font-size: 30px;
  margin: 0 0 25px;
  padding: 5px 0;
}

h3 {
  font-size: 24px;
  margin: 0 0 12px;
  padding: 0;
}

h4 {
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0;
}

h5 {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0;
}

h6 {
  font-size: 12px;
  margin: 0 0 5px;
  padding: 0;
}

header {
  background-color: @backgroundColor;
  color: white;
  width: 100%;
  min-width: 960px;
  #lang_bar {
    float: right;
    height: 64px;
    margin: -17px 20px 0 -52px;
    width: 32px;
    a {
      background-image: url("../images/lang_sprite.png");
      background-repeat: no-repeat;
      display: inline-block;
      height: 32px;
      width: 32px;
    }
    a#en_link {
      background-position: 0 0;
    }
    a#ru_link {
      background-position: 0 -32px;
    }
  }
  .content {
    height: 32px;
    z-index: 1;
    ul {
      li {
        display: inline-block;
        list-style: none;
      }
    }

    #menu {
      margin: 0;
      padding: 0 0 22px;
      text-align: center;
      li {
        border-right: 1px solid white;
        padding: 0 15px;
        &:last-child {
          border-right: none;
        }
      }
      a {
        color: white;
        font-size: 25px;
      }
    }

    #sub_menu {
      background-color: @backgroundColor;
      display: inline-block;
      height: 32px;
      //      padding: 0 25px 0 0;
      position: absolute;
      right: 28px;
      &::before {
        background: url('../images/menu.png') left top no-repeat;
        content: "";
        height: 32px;
        margin: 0 0 0 -27px;
        position: absolute;
        width: 27px;
      }
      &::after {
        background: url('../images/menu.png') right top no-repeat;
        content: "";
        height: 32px;
        margin: 0 -27px 0 0;
        position: absolute;
        width: 27px;
      }
      li {
        margin: 5px 5px 0 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position-x: 0;
          background-position-y: 0;
          background-image: url('../images/menu_sprite.png');
          &.facebook {
          }
          &.vk {
            background-position-y: -24px;
          }
          &.youtube {
            background-position-x: -24px;
          }
          &.twitch {
            background-position-x: -24px;
            background-position-y: -24px;
          }
          &.linkedin {
            background-position-x: -48px;
          }
          &.upwork {
            background-position-x: -48px;
            background-position-y: -24px;
          }
          &.twitter {
            background-position-x: -72px;
          }
          &.patreon {
            background-position-x: -72px;
            background-position-y: -24px;
          }
          &.github {
            background-position-x: -96px;
          }
          &.steam {
            background-position-x: -96px;
            background-position-y: -24px;
          }
        }
      }
    }
  }
}

#wrapper {
  color: @textColor;
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  margin: -104px 0 0;
  padding-top: 104px;
  box-sizing: border-box;
  .banner {
    background-size: cover;
    background: no-repeat center center no-repeat;
    border-radius: 15px;
    height: 200px;
    margin-bottom: 25px;
    width: 100%;
  }
  .mods {
    li {
      position: relative;
      margin-bottom: 25px;
      overflow: hidden;
      width: 100%;
      a {
        color: @textColor;
      }
      > a {
        &:first-child {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 15px;
          border: 1px solid @backgroundColor;
          display: block;
          float: left;
          height: 150px;
          margin-right: 20px;
          width: 150px;
        }
      }
      h3 > a.info {
        display: inline-block;
        width: 24px;
        height: 28px;
        vertical-align: -3px;
        float: right;
        background: url('../images/info-24.png') center bottom no-repeat;
      }
      p:last-of-type {
        margin-bottom: 30px;
      }
      .tags {
        position: absolute;
        right: 0;
        bottom: 0;
        span {
          background: url('../images/tag.png') no-repeat left center;
          display: inline-block;
          height: 24px;
          margin: 0 5px;
          padding-left: 28px;
          text-decoration: underline;
        }
      }
    }
  }
  #photo {
    border-radius: 15px;
    float: left;
    margin-right: 20px;
    width: 200px;
  }
}

.content {
  margin: 0 auto;
  padding: 20px 0;
  width: 960px;
  position: relative;
}

footer {
  background: #181818;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  min-width: 960px;
  margin-top: -9px;
}

#mc_banner {
  background-image: url('../images/data/mc_banner.jpg');
}

#ds_banner {
  background-image: url('../images/data/ds_banner.png');
}