<div ng-controller="ModsCtrl">
    <h1>{{globalData.menu_mods}}</h1>

    <h2>{{mods.minecraft.title}}</h2>

    <div id="mc_banner" class="banner"></div>
    <ul class="mods">
        <li>
            <a href="http://gravestone.nightkosh.com" style="background-image: url('images/data/gravestone.png')"
               title="{{mods.minecraft.gs.title}}" target="_blank"></a>

            <h3><a href="http://gravestone.nightkosh.com" title="{{mods.minecraft.gs.title}}" target="_blank">{{mods.minecraft.gs.title}}</a>
            </h3>

            <p>{{mods.minecraft.gs.description}}</p>

            <span class="tags">
                <span>{{mods.minecraft.gs.tag1}}</span>
                <span>{{mods.minecraft.gs.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="http://sophisticated-wolves.nightkosh.com/"
               style="background-image: url('images/data/sw_wolves.png')" title="{{mods.minecraft.sw.title}}"
               target="_blank"></a>

            <h3><a href="http://sophisticated-wolves.nightkosh.com/" title="{{mods.minecraft.sw.title}}"
                   target="_blank">{{mods.minecraft.sw.title}}</a></h3>

            <p>{{mods.minecraft.sw.description1}}</p>

            <p>{{mods.minecraft.sw.description2}}</p>

            <span class="tags">
                <span>{{mods.minecraft.sw.tag1}}</span>
                <span>{{mods.minecraft.sw.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1288717"
               style="background-image: url('images/data/lava_boat.png')" title="{{mods.minecraft.lb.title}}"
               target="_blank"></a>

            <h3><a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1288717"
                   title="{{mods.minecraft.lb.title}}" target="_blank">{{mods.minecraft.lb.title}}</a></h3>

            <p>{{mods.minecraft.lb.description}}</p>

            <span class="tags">
                <span>{{mods.minecraft.lb.tag1}}</span>
                <span>{{mods.minecraft.lb.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1288717"
               style="background-image: url('images/data/bees.png')" title="{{mods.minecraft.pa.title}}"
               target="_blank"></a>

            <h3><a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1288717"
                   title="{{mods.minecraft.pa.title}}" target="_blank">{{mods.minecraft.pa.title}}</a></h3>

            <p>{{mods.minecraft.pa.description1}}</p>

            <p>{{mods.minecraft.pa.description2}}</p>

            <p>{{mods.minecraft.pa.description3}}</p>

            <p>{{mods.minecraft.pa.description4}}</p>

            <span class="tags">
                <span>{{mods.minecraft.pa.tag1}}</span>
                <span>{{mods.minecraft.pa.tag2}}</span>
                <span>{{mods.minecraft.pa.tag3}}</span>
            </span>
        </li>
    </ul>

    <h2>{{mods.dontstarve.title}}</h2>

    <div class="banner" id="ds_banner"></div>
    <ul class="mods">
        <li>
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=334633947"
               style="background-image: url('images/data/better_clothes.jpg')" title="{{mods.dontstarve.bc.title}}"
               target="_blank"></a>

            <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=334633947"
                   title="{{mods.dontstarve.bc.title}}" target="_blank">{{mods.dontstarve.bc.title}}</a></h3>

            <p>{{mods.dontstarve.bc.description}}</p>

            <span class="tags">
                <span>{{mods.dontstarve.bc.tag1}}</span>
                <span>{{mods.dontstarve.bc.tag2}}</span>
                <span>{{mods.dontstarve.bc.tag3}}</span>
            </span>
        </li>
        <li>
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=665826598"
               style="background-image: url('images/data/opcane.jpg')" title="{{mods.dontstarve.opc.title}}"
               target="_blank"></a>

            <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=665826598"
                   title="{{mods.dontstarve.opc.title}}" target="_blank">{{mods.dontstarve.opc.title}}</a></h3>

            <p>{{mods.dontstarve.opc.description1}}</p>

            <p>{{mods.dontstarve.opc.description2}}</p>

            <span class="tags">
                <span>{{mods.dontstarve.opc.tag1}}</span>
                <span>{{mods.dontstarve.opc.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=668232215"
               style="background-image: url('images/data/books.jpg')" title="{{mods.dontstarve.bfe.title}}"
               target="_blank"></a>

            <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=668232215"
                   title="{{mods.dontstarve.bfe.title}}" target="_blank">{{mods.dontstarve.bfe.title}}</a></h3>

            <p>{{mods.dontstarve.bfe.description1}}</p>

            <p>{{mods.dontstarve.bfe.description2}}</p>

            <span class="tags">
                <span>{{mods.dontstarve.bfe.tag1}}</span>
                <span>{{mods.dontstarve.bfe.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=665500359"
               style="background-image: url('images/data/boats.jpg')" title="{{mods.dontstarve.sfe.title}}"
               target="_blank"></a>

            <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=665500359"
                   title="{{mods.dontstarve.sfe.title}}" target="_blank">{{mods.dontstarve.sfe.title}}</a></h3>

            <p>{{mods.dontstarve.sfe.description}}</p>

            <span class="tags">
                <span>{{mods.dontstarve.sfe.tag1}}</span>
                <span>{{mods.dontstarve.sfe.tag2}}</span>
            </span>
        </li>
        <li>
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=668392460"
               style="background-image: url('images/data/honeycomb.jpg')" title="{{mods.dontstarve.hc.title}}"
               target="_blank"></a>

            <h3><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=668392460"
                   title="{{mods.dontstarve.hc.title}}" target="_blank">{{mods.dontstarve.hc.title}}</a></h3>

            <p>{{mods.dontstarve.hc.description}}</p>

            <span class="tags">
                <span>{{mods.dontstarve.hc.tag1}}</span>
                <span>{{mods.dontstarve.hc.tag2}}</span>
            </span>
        </li>
    </ul>

    <h2>{{mods.other.title}}</h2>
    <ul class="mods">
        <li>
            <a href="/pacman.html" style="background-image: url('images/data/pacman.png')"
               title="{{mods.other.pacman.title}}" target="_blank"></a>

            <h3><a href="/pacman.html" title="{{mods.other.pacman.title}}" target="_blank">{{mods.other.pacman.title}}</a></h3>

            <p>{{mods.other.pacman.description}}</p>

            <span class="tags">
                <span>{{mods.other.pacman.tag1}}</span>
                <span>{{mods.other.pacman.tag2}}</span>
                <span>{{mods.other.pacman.tag3}}</span>
            </span>
        </li>
    </ul>
</div>