<div ng-controller="CertificatesCtrl">
    <h1>{{globalData.menu_certificates}}</h1>

    <h2>{{certificates.java.title}}</h2>
    <ul class="mods">
        <li>
            <a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=146"
               style="background-image: url('images/data/oca.jpg')" title="{{certificates.java.oca.title}}"
               target="_blank"></a>

            <h3>
                <a href="http://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=146"
                   title="{{certificates.java.oca.title}}" target="_blank">{{certificates.java.oca.title}}</a>
                <a href="" class="info"></a>
            </h3>

            <p>{{certificates.java.oca.description}}</p>

            <p class="tags">
                <span>{{certificates.java.oca.tag1}}</span>
                <span>{{certificates.java.oca.tag2}}</span>
            </p>
        </li>
    </ul>

    <h2>{{certificates.courses_s.title}}</h2>
    <ul class="mods">
        <li>
            <a href="https://www.coursera.org/account/accomplishments/records/Q7EMPTPG87XM"
               style="background-image: url('images/data/coursera-logo.jpg')"
               title="{{certificates.courses_s.ml.title}}" target="_blank"></a>

            <h3>
                <a href="https://www.coursera.org/account/accomplishments/records/Q7EMPTPG87XM"
                   title="{{certificates.courses_s.ml.title}}" target="_blank">{{certificates.courses_s.ml.title}}</a>
                <a href="https://www.coursera.org/learn/machine-learning/" class="info"></a>
            </h3>

            <p>{{certificates.courses_s.ml.description}}</p>

            <p class="tags">
                <span>{{certificates.courses_s.ml.tag1}}</span>
                <span>{{certificates.courses_s.ml.tag2}}</span>
                <span>{{certificates.courses_s.ml.tag3}}</span>
            </p>
        </li>
        <li>
            <a href="https://www.coursera.org/account/accomplishments/records/atYgDFSwuFxtNA5U"
               style="background-image: url('images/data/android.png')"
               title="{{certificates.courses_s.android1.title}}" target="_blank"></a>

            <h3>
                <a href="https://www.coursera.org/account/accomplishments/records/atYgDFSwuFxtNA5U"
                   title="{{certificates.courses_s.android1.title}}" target="_blank">{{certificates.courses_s.android1.title}}</a>
                <a href="https://www.coursera.org/learn/android-programming" class="info"></a>
            </h3>

            <p>{{certificates.courses_s.android1.description}}</p>

            <p class="tags">
                <span>{{certificates.courses_s.android1.tag1}}</span>
                <span>{{certificates.courses_s.android1.tag2}}</span>
                <span>{{certificates.courses_s.android1.tag3}}</span>
            </p>
        </li>
        <li>
            <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=972505"
               style="background-image: url('images/data/python.png')" title="{{certificates.courses_s.python.title}}"
               target="_blank"></a>

            <h3>
                <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=972505"
                   title="{{certificates.courses_s.python.title}}" target="_blank">{{certificates.courses_s.python.title}}</a>
                <a href="https://www.coursera.org/learn/python" class="info"></a>
            </h3>

            <p>{{certificates.courses_s.python.description}}</p>

            <p class="tags">
                <span>{{certificates.courses_s.python.tag1}}</span>
                <span>{{certificates.courses_s.python.tag2}}</span>
            </p>
        </li>
    </ul>

    <h2>{{certificates.courses_n.title}}</h2>
    <ul class="mods">
        <li>
            <a href="https://www.coursera.org/learn/algorithms-part1"
               style="background-image: url('images/data/algs.png')" title="{{certificates.courses_n.alg1.title}}"
               target="_blank"></a>

            <h3>
                <a href="https://www.coursera.org/learn/algorithms-part1" title="{{certificates.courses_n.alg1.title}}"
                   target="_blank">{{certificates.courses_n.alg1.title}}</a>
                <a href="https://www.coursera.org/learn/algorithms-part1" class="info"></a>
            </h3>

            <p>{{certificates.courses_n.alg1.description}}</p>

            <p class="tags">
                <span>{{certificates.courses_n.alg1.tag1}}</span>
                <span>{{certificates.courses_n.alg1.tag2}}</span>
            </p>
        </li>
        <li>
            <a href="https://www.coursera.org/learn/algorithms-part2"
               style="background-image: url('images/data/algs.png')" title="{{certificates.courses_n.alg2.title}}"
               target="_blank"></a>

            <h3>
                <a href="https://www.coursera.org/learn/algorithms-part2" title="{{certificates.courses_n.alg2.title}}"
                   target="_blank">{{certificates.courses_n.alg2.title}}</a>
                <a href="https://www.coursera.org/learn/algorithms-part2" class="info"></a>
            </h3>

            <p>{{certificates.courses_n.alg2.description}}</p>

            <p class="tags">
                <span>{{certificates.courses_n.alg2.tag1}}</span>
                <span>{{certificates.courses_n.alg2.tag2}}</span>
            </p>
        </li>
    </ul>
</div>